<% layout('/layouts/boilerplate') -%>
<body>
    <div class="container items-btn text-muted py-5 ">
        <div class="row">
            <div class=" col-12 col-sm-10 col-md-8 col-lg-6 items-details">
                <h2 class="card-title"><%= room.title %></h2>
                <img src="<%= room.image.url %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>Owned by_ <i><b><%= room.owner.username %></b></i></p>
                    <p class="card-text "><%= room.description %></p>
                    <p class="card-text "><%= room.location %>, <%= room.country %></p>
                    <p class="card-text">&#8377;<%= room.price.toLocaleString("en-IN") %>/night</p>
                </div>

                <% if(currUser && (currUser._id.equals(room.owner._id)) ){ %>
                    <div class="container  my-3 ">
                        <div class="row ">
                                <form action="/listings/<%=room._id%>/edit"  method="GET" class=" col-3 form-edit">
                                    <button  type="submit" class="btn btn-primary">Edit</button>
                                </form>
                                <div class="col-6"></div>
                                <form action="/listings/<%= room._id%>?_method=DELETE" method="POST" class=" col-3">
                                    <button  type="submit" class="btn btn-danger">Delete</button>
                                </form>
                        </div>
                    
                    </div>
                <% } %>
            </div>
        </div>
    </div>   
    <hr>

    <div class="container review-container">
        <!-- comment form -->
        <div class="row col-12 col-sm-10 col-md-8 col-lg-6 py-5">
            <h6>All Comments</h6>
            <form action="/listings/<%=room._id %>"  method="POST">
                <label for="rating">Rating</label> <br>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                <!-- rating -->
                <textarea class="form-control" name="review[remarks]" rows='2' cols="1" id="" required></textarea>
                <button type="submit" class="btn btn-outline-primary mt-2 mb-4">Submit</button>
            </form>
    
            <% if(room.reviews && room.reviews.length>0){ %>
                <ul class="comments d-flex justify-content-around flex-direction-col flex-sm-row flex-wrap  overflow-y-scroll scroll-smooth">
                    <% for(review of room.reviews){%>
                        <li class="review-list my-1">
                           <div>
                            <h6>@<%= review.author.username%></h6>
                            <p class="starability-result" data-rating="<%= review.rating %>"></p>
                            <p><%= review.remarks %></p>
                           </div>
                        
                            <form class="delete-review" action="/listings/<%=room._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                                 <%if(currUser && currUser._id.equals(review.author._id)){ %>
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                  <% } %>
                            </form>
                           
                        </li>
                        
                    <% } %>
                </ul>
            <% }else{ %>
                <p class="px-5 py-3 text-muted">No review available for this room!</p>
            <% } %>
        </div>
    </div>

   
</body>
