<% layout('/layouts/boilerplate') -%>
<body>
    <style>
        .text-area{
            resize: none;
        }
    </style>
<div class="container mt-4">
    <div class="row">
        <div class="col-2"></div>
        <form action="http://localhost:8080/listings/<%= room._id %>?_method=PUT" method="POST" class="col-8 needs-validation" novalidate enctype="multipart/form-data">                      
        <h3>Edit Room details</h3>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" id="title" placeholder="Enter Title" value="<%= room.title %>" required>
                <div class="valid-feedback">Nice</div>
                <div class="invalid-feedback">Please enter title!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control text-area" name="listing[description]" id="description"rows="3" required><%= room.description %></textarea>
                <div class="valid-feedback">Nice</div>
                <div class="invalid-feedback">Please enter short description!</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Original Image</label> <br>
                <img src="<%= originalImageUrl %>" height="100px" width="150px">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input type="file" name="listing[image]" class="form-control" id="image" >
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" class="form-control" id="price" placeholder="Enter Price" value="<%= room.price %>" required>
                <div class="valid-feedback">Nice</div>
                <div class="invalid-feedback">Please enter price!</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Locations</label>
                <input type="text" name="listing[location]" class="form-control" id="location" placeholder="Enter Locations" value="<%= room.location %>" required>
                <div class="valid-feedback">Nice</div>
                <div class="invalid-feedback">Please enter location!</div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">country</label>
                <input type="text" name="listing[country]" class="form-control" id="country" placeholder="Enter country" value="<%= room.country %>" required>
                <div class="valid-feedback">Nice</div>
                <div class="invalid-feedback">Please enter country!</div>
            </div>

            <button type="submit" class="btn btn-success">submit</button>
        </form>
        <div class="col-2"></div>
    </div>
</div>
</body>
