<% layout('/layouts/boilerplate') -%>
<body>
    <div class="container items-btn text-muted">
        <div class="row">
            <div class=" col-12 col-sm-10 col-md-8 col-lg-6 items-details">
                <h2 class="card-title"><%= room.title %></h2>
                <img src="<%= room.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text "><%= room.description %></p>
                    <p class="card-text "><%= room.location %>, <%= room.country %></p>
                    <p class="card-text">&#8377;<%= room.price.toLocaleString("en-IN") %>/night</p>
                </div>
                <div class="container  my-2 ">
                    <div class="row">
                        <form action="http://localhost:8080/listings/<%=room._id%>/edit"  method="GET" class=" col-3 form-edit">
                            <button  type="submit" class="btn btn-primary">Edit</button>
                        </form>
                        <div class="col-6"></div>
                        <form action="http://localhost:8080/listings/<%= room._id%>?_method=DELETE" method="POST" class=" col-3">
                            <button  type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
